<!-- /partials/profile-settings.ejs - User profile settings partial -->
<div class="settings">
  <h2>Settings</h2>

	<%- include('../partials/card-management.ejs') %>
	<%- include('../partials/sort.ejs') %>
<div>

<!-- vim: set ts=2 sw=2 sts=2 noet filetype=html: -->
