<%# /partials/settings-account.ejs - User account settings partial %>
<div id="account" class="popup hidden">
	<button class="close-popup" onclick="hidePopup(this)">✕</button>
	<h3>Account Settings</h3>
	<div>
		<button id="change-pw">Change Password</button>
		<button id="change-email">Change Email</button>
	</div>
</div>
	
<!-- vim: set ts=2 sw=2 sts=2 noet filetype=html: -->
