<!-- /partials/topBar.ejs - Main top bar partial -->
<div class="top-menu">
  <div class="profile">
    <img src="/static/images/smile.jpg" alt="Profile Picture">
    <div class="name">John Doe</div>
    <a href="/settings" class="settingsButton">Settings</a>
  </div>
  <a href="/profile">Profiles</a>
  <a href="/stock">Stocks</a>
</div>
