<!-- New profile menu -->
<div id="new-profile-menu" class="new-tag-menu hidden">
  <div class="modal-content">
    <button id="close-new-profile-menu" class="close-button">X</button>
    <h3>New Profile</h3>
    <div class="form-group">
      <label for="profile-name">Profile Name:</label>
      <input type="text" id="profile-name" placeholder="Enter profile name">
    </div>
    <button id="save-profile-button">Create Profile</button>
  </div>
</div>

<!-- xxx overlay <div id='overlay' class='overlay hidden'></div> -->

<!-- vim: set ts=2 sw=2 sts=2 noet filetype=html: -->
