<%# link.ejs - Link bank account page %>
<%- contentFor('body') %>
<%- include('partials/info.ejs') %>
<div class="container">
	<h1 class='logo'>Aggregate</h1>
	<p class='tagline'>Link your bank account with Plaid</p>

		<button
			type='button'
			id='link-account'
			class='createButton'
		>
			Link account
		</button>

		<!-- xxx css style this to match -->
		<pre
		  id="response"
		  style="
		    top: 60;
		    margin-left: 10;
		    bottom: 0;
		    position: fixed;
		    overflow-y: scroll;
		    overflow-x: hidden;
		    font-size: 14px;
		  "
		></pre>
</div>

<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
<script src='/js/plaid.js'></script>

<!-- vim: set ts=2 sw=2 sts=2 noet filetype=html: -->
